In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("occlusion_log_2.csv")
df.head()

,Attempt_no,Model,Distance,Time_to_Target,FPS,Occluded_Frames_Count,Outcome
0,1,BYTETRACK,1.5m,21.607621,10.663463,2.0,Success
1,2,BYTETRACK,1.5m,14.951010,10.561167,2.0,Success
2,3,BYTETRACK,1.5m,21.402729,13.073310,1.0,Success
3,4,BYTETRACK,1.5m,11.469312,10.651056,2.0,Success
4,5,BYTETRACK,1.5m,13.107579,5.593607,2.0,Success

In [10]:
conditions = [
    df["Model"] != "Default",
    #df["Model"] == "Default"
]

outputs = [
    "DL",
    #"Default"
]

res = np.select(conditions, outputs, "Default")
df["type"] = pd.Series(res)
df.head()

,Attempt_no,Model,Distance,Time_to_Target,FPS,Occluded_Frames_Count,Outcome,type
0,1,BYTETRACK,1.5m,21.607621,10.663463,2.0,Success,DL
1,2,BYTETRACK,1.5m,14.951010,10.561167,2.0,Success,DL
2,3,BYTETRACK,1.5m,21.402729,13.073310,1.0,Success,DL
3,4,BYTETRACK,1.5m,11.469312,10.651056,2.0,Success,DL
4,5,BYTETRACK,1.5m,13.107579,5.593607,2.0,Success,DL

In [18]:
df.groupby(["Model", "Distance"])["Outcome"].value_counts()/10

Model      Distance  Outcome
BYTETRACK  1.5m      Success    1.0
           2.5m      Failure    0.8
                     Success    0.2
           3.5m      Success    0.7
                     Failure    0.3
BoTSORT    1.5m      Success    0.7
                     Failure    0.3
           2.5m      Success    0.6
                     Failure    0.4
           3.5m      Success    0.7
                     Failure    0.3
Default    1.5m      Success    0.9
                     Failure    0.1
           2.5m      Failure    0.9
                     Success    0.1
           3.5m      Failure    1.0
OCSORT     1.5m      Success    1.0
           2.5m      Success    0.6
                     Failure    0.4
           3.5m      Success    0.7
                     Failure    0.3
Name: Outcome, dtype: float64

In [13]:
62/(62+28)

0.6888888888888889

In [14]:
10/30

0.3333333333333333